
.icon-wrench:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-dollar:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-clipboard:before { content: '\e804'; } /* '' */
.icon-logout:before { content: '\e805'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
